__pycache__
.ipynb_checkpoints
gpu_bdb/queries/*/benchmarked*.csv
gpu_bdb/queries/*/profiled*.html
gpu_bdb/queries/query-tracebacks
gpu_bdb/queries/*/*.log
*.qdrep
*.qdstrm
*.txt
*.parquet
algebra.log
blazing_log
