__pycache__
.ipynb_checkpoints
tpcx_bb/queries/*/benchmarked*.csv
tpcx_bb/queries/*/profiled*.html
tpcx_bb/queries/query-tracebacks
tpcx_bb/queries/*/*.log
*.qdrep
*.qdstrm
*.txt
*.parquet
algebra.log
blazing_log
